.gallery__cards {
  width: 100%;
  max-width: 282px;
  margin: 0 auto;
  padding: 0;
  font-size: 0;
  list-style: none;
  display: grid;
  grid-auto-rows: 1fr;
  justify-content: center;
  row-gap: 20px;
  column-gap: 17px;
}

@media screen and (min-width: 426px) {
  .gallery__cards {
    grid-template-columns: repeat(2, 1fr);
    max-width: 581px;
  }
}

@media screen and (min-width: 769px) {
  .gallery__cards {
    grid-template-columns: repeat(3, 1fr);
    max-width: 880px;
  }
}